/***** Page Layout ******/

html, body { 
	height: 100%;
}
.push{
padding-bottom: 70px; 
}
.container{
 min-height:90%;
}



/***** header ******/
    .imgTab {
                width: 25%;    
            }
    .pubTab {
                width: 75%;    
            }
    .authorInfo {
                color: #87AFC7; 
                font-weight:bold; 
            }
    .venueInfo{
                color: #87AFC7; 
                font-weight:bold; 
            }
			.WpiColor{
	background-color: #680017 !important; 
}
.whiteText{
    color: #ffffff !important;
	font-size: 18px !important;
}



/***** footer ******/
.footer {
	background-color: black;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
}
.footer-copy {
text-align: center;
  padding: 12px 0;
  color: white;
  font-size: 14px !important;
}

/***** home page *****/



.btn {
  background: #680017;
  background-image: -webkit-linear-gradient(top, #680017, ##680017);
  background-image: -moz-linear-gradient(top, #680017, ##680017);
  background-image: -ms-linear-gradient(top, #680017, ##680017);
  background-image: -o-linear-gradient(top, #680017, ##680017);
  background-image: linear-gradient(to bottom, #680017, ##680017);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff !important;
  text-decoration: none;
}




/***** members *****/
.circular {
	width: 200px !important;
	height: 200px !important;
	border-radius: 150px !important;
	-webkit-border-radius: 150px !important;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}





/***** news *****/

.imgHolder{
width: 50%; 
height: 50%;
}

/**** releases ****/
.#prototype{
	width: 800px;
	}

/*** font for index ***/ 
.contentMainPage{
    font-size: 17px !important;
	font-weight: bold !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#hamburger{
	background-color: rgba(255, 0, 0, 0.41);
}

#hamburger-bar{
	background-color: rgba(255, 0, 0, 0.43);
}